<!--{% extends 'app/base.html' %}

{% block title %} About Us {% endblock %}

{% block main-content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="about-section">
                <h1 class="section-title">About Us</h1>
                <p class="section-description">Welcome to ShoppNOW, your number one source for all things shopping. We're dedicated to giving you the very best of products, with a focus on quality, affordability, and customer satisfaction.</p>
                <p class="section-description">Founded in 2024, ShoppNOW has come a long way from its beginnings. When we first started out, our passion for providing the best products drove us to do tons of research, and gave us the impetus to turn hard work and inspiration into a booming online store.</p>
                <p class="section-description">We now serve customers all over and are thrilled that we're able to turn our passion into our own website.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
-->
