<!--{% extends 'app/base.html' %}

{% block title %} Contact Us {% endblock %}

{% block main-content %}
<div class="container mt-5">
    <div class="contact-section">
        <h1 class="section-title">Contact Us</h1>
        <p class="section-description">If you have any questions, feel free to reach out to us at:</p>
        <p class="contact-info"><strong>Email:</strong> kunalparihar203@gmail.com</p>
        <p class="contact-info"><strong>Phone:</strong> 9987606390</p>
    </div>
</div>
{% endblock %}-->
